@use '../../scss/'as *;


.logo {
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;

	img {
		margin-right: 10px;
		width: 250px;

		@include mobile {
			width: 30px;
			margin-right: 0;
		}
	}
}