@use '../../scss/'as *;


.logo {
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;

	img {
		margin-right: 10px;
		width: 100px;

		@include mobile {
			width: 30px;
			margin-right: 0;
		}
	}
}
 .header{
	 height: $header-height;
	 position:fixed;
	 top: 0;
	 right: 0;
	 width: 100%;
	 z-index: 99;

	 &__nav{
		 font-size: 1.5rem;
	 }
	 &__wrap{
		display: flex;
		align-items: center;
		justify-content: space-around;
	 }
 }